{% extends 'base.html' %}
{% block title %}修改密码{% endblock %}
{% block css %}
    <link href="{% static 'login/auth.css' %}" rel="stylesheet"/>
     <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script>
    $(function(){
            //判断密码长度是否过短
            $("#password").keyup(function(){
                var password = $("#password").val();
                if(password.length < 6) {
                    $("#password_isalive").html('密码长度应大于等于6位');
                }
                else if(password.length > 12){
                    $("#password_isalive").html('密码长度应小于12位');
                }else{
                    $("#password_isalive").html('');
                }
            });
            //判断密码长度是否过短 且两个密码是否一致
            $("#password1").keyup(function () {
                password1 = $("#password1").val();
                console.log(password1);
                //如果任何一个密码长度小于6
                if (password1.length < 6) {
                    $("#password_first").html('密码长度应大于等于6位');
                } else if (password1.length > 12) {
                    $("#password_first").html('密码长度应小于12位');
                } else {
                    $("#password_first").html('');
                }
            });


            $("#password2").keyup(function () {
                password2 = $("#password2").val();
                //如果密码相等
                if (password1 == password2) {
                    $("#password_last").html('');
                } else {
                    $("#password_last").html('两次输入的密码不同');
                }
            });





    })
    </script>
{% endblock %}

{% block content %}

<div class="lowin lowin-red" style="height:800px;background:url({% static 'login/mycat2.jpg' %});">
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form class='form-change_password' action="/change_password/" method="post">

                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}

                    {% csrf_token %}

                    <p>修改密码</p>

                    <div class="lowin-group">
                        <label>{{ change_password_form.old_password.label_tag }}<a href="/reset_password/" class="forgot-link">忘记密码?</a></label>
                        {{ change_password_form.old_password }}
                        <span id="password_isalive" style="color:rgb(255, 0, 0);"></span>
                    </div>

                    <div class="lowin-group">
                        <label>{{ change_password_form.new_password1.label_tag }}</label>
                        {{ change_password_form.new_password1 }}
                        <span id="password_first" style="color:rgb(255, 0, 0);"></span>
                    </div>
                    <div class="lowin-group">
                        <label>{{ change_password_form.new_password2.label_tag }}</label>
                        {{ change_password_form.new_password2 }}
                        <span id="password_last" style="color:rgb(255, 0, 0);"></span>
                    </div>


                    <button type="submit" class="lowin-btn login-btn">提交修改</button>
                </form>
            </div>
        </div>
    </div> <!-- /container -->
</div>
{% endblock %}



