{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}用户信息详情{% endblock %}
{#导入css#}
{% block css %}
    <link href="{% static 'login/auth.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}

    <div class="lowin lowin-red" style="height:600px;background:url({% static 'login/mycat2.jpg' %})">
		<div class="lowin-brand">
			<img src="{{ MEDIA_URL }}{{ photo }}" alt="photo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
                    <p>个人简介</p>
                    <div class="lowin-group">
                        <label>用户名:{{ name }}</label>
                        <br/><br/>
                        <label>邮箱:{{ email }}</label>
                        <br/><br/>
                        <label>性别:{{ sex }}</label>
                        <br/><br/>
                        <label>主子名:{{ petname }}</label>
                        <br/><br/>
                        <label>主子类型:{{ pet_type}}</label>
                        <br/><br/>
                        <label>个性签名:{{ intro }}</label>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}