{% extends 'base.html' %}
{% block title %}修改个人信息{% endblock %}
{% block css %}
    <link href="{% static 'login/auth.css' %}" rel="stylesheet"/>
{#    自定义覆盖css#}
    <style>
        .lowin .lowin-wrapper {
            width: 800px;
        }
        .all_float{
            position:relative;
        }
        .float_left{
            float: left;
            width: 300px;
            margin-left: 50px;
        }
        .float_right_last{
            float: right;
            width: 300px;
            margin-right: 50px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="lowin lowin-red" style="height:800px;background:url({% static 'login/mycat2.jpg' %})">
		<div class="lowin-brand">
            <a href="/head_photo">
			    <img src="{{ MEDIA_URL }}{{ photo }}" alt="photo">
            </a>
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
                    <p>修改个人信息</p>
                    <form class='form-modify' action="/modify/" method="post" enctype="multipart/form-data">

                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                        {% csrf_token %}


{#                    分左右两边#}
                        <div class="all_float">

                            <div class="float_left">

                                 <div class="lowin-group">
                                    <label>{{ modify_form.username.label_tag }}</label>
                                    {{ modify_form.username }}
                                </div>
                                <div class="lowin-group">
                                    <label>{{ modify_form.sex.label_tag }}</label>
                                    {{ modify_form.sex }}
                                </div>
                                <div class="lowin-group">
                                    <label>{{ modify_form.petname.label_tag }}</label>
                                    {{ modify_form.petname }}
                                </div>
                                <div class="lowin-group">
                                    <label>{{ modify_form.pet_type.label_tag }}</label>
                                    {{ modify_form.pet_type }}
                                </div>
                            </div>

                             <div class="float_right_last">

                                <div class="lowin-group">
                                    <label>{{ modify_form.intro.label_tag }}</label>
                                    {{ modify_form.intro }}
                                </div>
                                <br/>
                                <div class="lowin-group" id="showTemp">
                                    <p style="text-align: left;">上传新头像:</p>
                                    <input type="file" name="new_photo">
{#                                    裁剪头像的超链接#}
                                    <a href="/head_photo">
                                        图片原始尺寸不满意?点我或者点头像~享受在线裁剪的快感
                                    </a>
                                </div>

                                 <br/><br/>
                                <div class="lowin-group">
                                    {{ modify_form.captcha.errors }}
                                    <label>验证码:</label>
                                    <input type="text" id="id_reg_captcha_1" name="captcha_1" class="lowin-input" placeholder="请输入验证码">
                                    <span class="v5-yzm fr">
                                        <a href="#" class="next-captcha">
                                            <img src="{{ image_url }}" class="captcha" alt="captcha">
                                            换一张
                                        </a>
                                    </span>
                                    <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">
                                </div>

                                <script>
                                      {# 刷新验证码#}
                                      $(".next-captcha").click(function(){
                                          $.getJSON("/captcha/refresh", function(data) {
                                              $(".captcha").attr('src',data.image_url);
                                              $("#id_reg_captcha_0").attr('value',data.key);
                                          })
                                      })
                                </script>

                            </div>

                        </div>


{#                    右浮#}



                        <button type="submit" class="lowin-btn login-btn" style="margin-left: 30px;width: 90%;">
							提交修改
						</button>
                    </form>
                </div>
			</div>
        </div>
    </div>




{% endblock %}

{% block csslast %}
{% endblock %}
