{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% block css %}
    <link href="{% static 'login/auth.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
{#    jq的脚本#}
    <script>
    //加载完毕后显示
        $(function() {
            //判断密码长度是否过短 且两个密码是否一致
            $("#password1").keyup(function () {
                password1 = $("#password1").val();
                console.log(password1);
                //如果任何一个密码长度小于6
                if (password1.length < 6) {
                    $("#password_first").html('密码长度应大于等于6位');
                } else if (password1.length > 12) {
                    $("#password_first").html('密码长度应小于12位');
                } else {
                    $("#password_first").html('');
                }
            });


            $("#password2").keyup(function () {
                password2 = $("#password2").val();
                //如果密码相等
                if (password1 == password2) {
                    $("#password_last").html('');
                } else {
                    $("#password_last").html('两次输入的密码不同');
                }
            });

            //判断邮箱是否在数据库中存在
            $("#user_email").blur(function(){
                //用get拼传参
                var params = "user_email=" + $("#user_email").val();
                $.get("/ajax_user_email_isalive", params, function(data){
                    //如果邮箱存在
                    if(data.ajax_email == '1'){
                        $("#user_email_alive").html('此邮箱已注册,请直接登录')
                    }else{
                        $("#user_email_alive").html('')
                    }
                })
            });

            //判断用户名是否在数据库中存在
            $("#user_name").blur(function(){
                //用get拼传参
                var params = "user_name=" + $("#user_name").val();
                $.get("/ajax_user_name_isalive", params, function(data){
                    //如果用户名存在
                    if(data.ajax_name == '1'){
                        $("#user_name_alive").html('此用户名已被注册,请换一个尝试')
                    }else{
                        $("#user_name_alive").html('')
                    }
                })
            });

            //判断验证码是否正确 把验证码传到后端
            $("#id_reg_captcha_1").keyup(function () {

                //用get方法拼 传参
                var params = "captcha_1=" + $('#id_reg_captcha_1').val() + '&captcha_0=' + $('#id_reg_captcha_0').val();
                $.get("/ajax_captcha", params, function (data) {
                    //object类型 所以直接点语法取值
                    //如果为1
                    if (data.ajax_captcha == '1') {
                        $("#captcha_isalive").html('')
                    } else {
                        $("#captcha_isalive").html('验证码错误')
                    }
                }, "json");
            });
        });

    </script>
{% endblock %}
{% block content %}

	<div class="lowin lowin-red" style="height:1500px;background:url({% static 'login/mycat.jpg' %});">
		<div class="lowin-brand" style="background: white;">
			<img src="{% static 'login/kodinger.jpeg' %}" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form action="/register/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}


                        <p>欢迎新用户注册</p>

						<div class="lowin-group">
							<label>{{ register_form.username.label_tag }}</label>
                            {{ register_form.username }}
                            <span id="user_name_alive" style="color:rgb(255, 0, 0);"></span>
						</div>

						<div class="lowin-group password-group">
							<label>{{ register_form.password1.label_tag }}</label>
                            {{ register_form.password1 }}
                            {#jq验证#}
                            <span id="password_first" style="color:rgb(255, 0, 0);"></span>
						</div>

  						<div class="lowin-group">
							<label>{{ register_form.password2.label_tag }}</label>
                            {{ register_form.password2 }}
                            <span id="password_last" style="color:rgb(255, 0, 0);"></span>
						</div>

  						<div class="lowin-group">
							<label>{{ register_form.email.label_tag }}</label>
                            {{ register_form.email }}
                            <span id="user_email_alive" style="color:rgb(255, 0, 0);"></span>
						</div>

{#css部分#}
                    <link href="{% static 'login/register.css' %}" rel="stylesheet"/>
{#折叠和展开按钮#}
                        <div class="fold-button">
                            <span class="open">展开</span>
                            <span class="close_line" style="display:none;">收起</span>
                        </div>

{#                    以下都是不怎么重要的信息,折叠起来#}
                        <div class="fold-box" style="display:none;">

                            <div class="lowin-group">
                                <label>{{ register_form.sex.label_tag }}</label>
                                {{ register_form.sex }}
                            </div>

                            <div class="lowin-group">
                                <label>{{ register_form.petname.label_tag }}</label>
                                {{ register_form.petname }}
                            </div>

                            <div class="lowin-group">
                                <label>{{ register_form.pet_type.label_tag }}</label>
                                {{ register_form.pet_type }}
                            </div>

                            <div class="lowin-group">
                                <label>{{ register_form.intro.label_tag }}</label>
                                {{ register_form.intro }}
                            </div>

                        </div>

{#js部分#}
                        <script>
                            $(function(){
                                $(".fold-button").click(function(){
                                    $(".fold-box").slideToggle("slow");
                                    $(".open").toggle();
                                    $(".close_line").toggle();
                                });
                            });
                        </script>



                        <div class="lowin-group">
                            {{ register_form.captcha.errors }}
                            <label>验证码:</label>
                            <input type="text" id="id_reg_captcha_1" name="captcha_1" class="lowin-input" placeholder="请输入验证码">
                            <span id="captcha_isalive" style="color:rgb(255, 0, 0);"></span>
                            <span class="v5-yzm fr">
                                <a href="#" class="next-captcha">
                                    <img src="{{ image_url }}" class="captcha" alt="captcha">
                                    换一张
                                </a>
                            </span>
                            <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">
                        </div>

                            <script>
                              {# 刷新验证码#}
                              $(".next-captcha").click(function(){
                                  $.getJSON("/captcha/refresh", function(data) {
                                      $(".captcha").attr('src',data.image_url);
                                      $("#id_reg_captcha_0").attr('value',data.key);
                                  })
                              })
                            </script>



                        <button type="submit" class="lowin-btn login-btn">
							注册
						</button>
						<div class="text-foot">
							已有账号? <a href="/login/" class="register-link">去登录</a>
						</div>
                    </form>
                </div>
			</div>
        </div>
    </div>

{% endblock %}