{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}个人资料{% endblock %}

{% block content %}
    <div class="local-header"><h4>个人资料</h4></div>
    <form class="profile" method="post" encype="multipart/form-data"
    action="">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- 用户头像 -->
        <div class="avatar">
            <img class="img-rounded" src="{{ request.user.photo.url }}">
        </div>
        <button class="primaryAction" type="submit">更新资料</button>
    </form>
{% endblock %}