{% extends 'base.html' %}
{% block title %}购物车{% endblock %}
{% block css %}
<style>
    #allcontent a{
        color: rgb(153, 79, 79);
        text-decoration: none;
    }
    #allcontent a:hover{
        color: rgb(255, 0, 0);
    }
    #allcontent{
        margin: 3% 10%;
        text-align: center;
        color: rgb(153, 79, 79);
    }
    .center_table{
        color: rgb(153, 79, 79) !important;
        margin-top: 10px;
        height: 36px;
        border-top: 1px solid #e4b5b5;
        box-shadow: 0 2px 5px #e4b8b8;
        background: #f3ebeb;
        color: #808080;
        text-align: center;
        line-height: 36px;
    }

       .ser{
            background-color: rgba(206, 176, 176, 0.3);
            margin: 10px auto;
            border: 1px solid whitesmoke;
            height: 40px;
            border-radius: 10px;
            padding: 5px 10px;
        }
       .im{
               width: 150px;
               height: 150px;
               float: left;

       }

       p{
               font-size: 20px;
       }
        .decrement {
            float: left;
            width: 26px;
            height: 26px;
            border: 1px solid #8080804d;
            background: rgba(255, 172, 172, 0.27);
            margin-top: 40px;
            color: #333;
            text-align: center;
            line-height: 26px;
            margin:0;
            line-height: 23px;
        }
        .count{
            width: 140px;
            margin-left: 70px;
        }


       </style>
{% endblock %}

{% block content %}

{#<!-- 整个容器 -->#}
<div id='allcontent'>
        <!-- 查询容器 -->
<div id='forms'>
<form   id='form' action="/good" method="GET">
    {#    搜索框#}
    <div id="search">
        <input class="ser" type="text" name="good" placeholder="请输入您要搜索的内容">
        <input class="ser" type="submit" value="查询" style="border-radius: 10px;height: 40px;width: 80px;">
    </div>

</form>
</div>
 <table width='100%' cellspacing='20px' >
         <tr  align='center' class="center_table" >
                 <td>商品图片</td>
                 <td>描述</td>
                 <td>单价</td>
                 <td>数量</td>
                 <td>金额</td>
                 <td>操作</td>
         </tr>
         {% if posts%}
         {% for pr in posts %} 
         <tr>  
         <td> <img class="im" src="{% static pr.cpath %}"></td>
         <td> {{pr.cname}}</td>
         <td>{{pr.cprice}} </td>
         <td>
             <p class="count">
             <a href="colles?sid={{pr.id}}" class="decrement" style="margin-right: 30px;">-</a>
{#             <a  class="sa" href="colles?sid={{pr.id}}">减少</a>#}
                 <span style="position: relative;left: -70px;">
                 {{pr.cnumber}}
                </span>
{#             <a class="sa" href='coladd?aid={{pr.id}}'>增加</a> #}
             <a href="coladd?aid={{pr.id}}" class="decrement">+</a>
             </p>
         </td>

         <td> {{pr.callprice}}</td>
         <td><a href='coldel?did={{pr.id}}'>删除</a> <a href='orders?jid={{pr.id }}'>下单</a> </td>
         </tr>
         {% endfor %}
{% endif %}
 </table>

{#<!-- 分页控制 -->#}
{# <div id='foot'>　#}
{#<span id='fenye'>#}
{#        {% if posts.has_previous %}#}
{#        <a href="?page={{ posts.previous_page_number }}">上一页</a>#}
{#        {% endif %}#}
{#        <span>#}
{#                当前页{{posts.number }} 总共 {{posts.paginator.num_pages}}        #}
{#        </span>#}
{#        {% if posts.has_next %}#}
{#        <a href="?page={{ posts.next_page_number }}">下一页</a>#}
{#        {% endif %}#}
{#</span>#}
</div>
</div>
{% endblock %}
