{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Page Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/001.css' %}"
    <script src="{% static 'js/jquery-1.11.3.js'%}"></script>
</head>
<body>
    <span class="fir">
        <img src="{% static 'images/004zh.jpg' %}">
    </span>            
    <li>姓名：{{pname.pname}}</li>
    <li>注册时间：{{pname.pdate}}</li>
    <li>年龄：{{pname.page}}岁</li>
    <li>类型：{{pname.ptype}}</li>
    <li>性别：{{pname.psex}}</li>
    <li>简介：{{pname.pintro}}</li>
</body>
</html>